<section class="max-w-6xl mx-auto px-6 py-32">

  <div class="flex items-center gap-8 mb-8">
    <img
      src="/images/me/PolBallesteros.jpeg"
      alt="Pol Ballesteros"
      class="w-32 h-32 rounded-full object-cover flex-shrink-0"
    />
    <div>
      <p class="text-blue-500 mb-4 tracking-widest uppercase text-sm">
        Artificial Intelligence • Embedded Systems • LoRaWAN
      </p>
      <h1 class="text-5xl md:text-7xl font-bold leading-tight text-white">
        Pol Ballesteros
      </h1>
    </div>
  </div>

  <div class="max-w-4xl">

    <p class="text-zinc-400 text-xl leading-relaxed max-w-3xl mb-10">
      Electronic Engineer and Master’s student in Artificial Intelligence focused on computer vision, RF propagation, IoT systems and embedded development.
    </p>

    <div class="flex flex-wrap gap-4">

      <a
        href="/projects"
        class="bg-blue-600 hover:bg-blue-500 px-6 py-3 rounded-xl transition font-medium"
      >
        View Projects
      </a>

      <a
        href="https://github.com/PolBQ"
        target="_blank"
        class="border border-zinc-700 hover:border-zinc-500 px-6 py-3 rounded-xl transition"
      >
        GitHub
      </a>

      <a
        href="https://www.linkedin.com/in/pol-alexander-ballesteros-quiroga-629165320/"
        target="_blank"
        class="border border-zinc-700 hover:border-zinc-500 px-6 py-3 rounded-xl transition"
      >
        LinkedIn
      </a>

    </div>

  </div>

</section>