---
import BaseLayout from "../layouts/BaseLayout.astro";
import PageLayout from "../layouts/PageLayout.astro";
---

<BaseLayout title="Contact">

  <PageLayout
    title="Contact"
    subtitle="Professional and academic contact channels."
  >

    <div class="space-y-6">

      <div>
        <h2 class="font-semibold mb-2">
          Email
        </h2>

        <p class="text-slate-400">
          pol.alexander.ballesteros.q@gmail.com
        </p>
      </div>

      <div>
        <h2 class="font-semibold mb-2">
          LinkedIn
        </h2>

        <p class="text-slate-400">
          linkedin.com/in/pol-alexander-ballesteros-quiroga
        </p>
      </div>

      <div>
        <h2 class="font-semibold mb-2">
          GitHub
        </h2>

        <p class="text-slate-400">
          github.com/polbq
        </p>
      </div>

    </div>

  </PageLayout>

</BaseLayout>